html {
  font-size: 16px;
}

body {
  padding: 1em;
}

#flash {
  width: 500px;
}

#notfound {
  font-size: 16px;
  width: 500px;
  text-align: center;
  background-color: #fbe3e4;
  border-top: 2px solid #fbc2c4;
  border-bottom: 2px solid #fbc2c4;
  padding: 0 20px 30px 20px;
}

/* Equipments list */
#equips {
  width: 400px;
  list-style: none;
  font-size: 1.2em;
}

#equips li {
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #bbbbbb;
}

#equips li.last {
  border-bottom: none;
}

#equips .name {
}

#equips .actions {
  width: auto;
  float: right;
}

/* Menu */
ul.menu {
}

ul.menu-horizontal li {
  display: inline;
}

ul.menu a {
  border: 1px solid #999;
  background-color: #DDD;
  padding: 4px 10px;
}

ul.menu a:hover {
  background-color: #EEE;
}

ul.menu a.start {
  border: 1px solid #6B6;
  background-color: #DED;
  color: #3C3;
}

ul.menu a.start:hover {
  background-color: #EFE;
}

ul.menu a.stop {
  border: 1px solid #D99;
  background-color: #EDD;
  color: #D66;
}

ul.menu a.stop:hover {
  background-color: #FEE;
}

ul.menu a.back {
  border: 1px solid #06C;
  background-color: #CDE;
}

ul.menu a.back:hover {
  background-color: #DEF;
}

/* DataTables */
#dt label {
  font-weight: normal;
}
